<a href="https://colab.research.google.com/github/dwishashah/Machine-Learning/blob/main/ML_Exp5_log_synthetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generate a synthetic dataset

In [ ]:
from sklearn.datasets import make_classification
import pandas as pd

n_samples = 1000
n_features = 4
n_classes = 2
random_state = 42

X, y = make_classification(n_samples=n_samples, n_features=n_features, n_classes=n_classes, random_state=random_state)

df = pd.DataFrame(X)
df['target'] = y

In [ ]:
X.shape

(1000, 4)

In [ ]:
y.shape

(1000,)

In [ ]:
df.shape

(1000, 5)

In [ ]:
df.head()

          0         1         2         3  target
0 -1.607711 -0.029398  1.569953 -0.527984       1
1  0.290131  0.317681 -0.996519  0.477009       0
2 -1.225096  0.895911 -0.900324  0.719861       1
3  2.046861 -1.680595  1.923718 -1.427244       1
4  1.828884 -0.289261 -1.049151  0.206271       0

# Standardize the data

In [ ]:
from sklearn.preprocessing import StandardScaler

df2 = pd.DataFrame(df)

# Standardize the dataset
scaler = StandardScaler()
X_std = scaler.fit_transform(df.drop('target', axis=1))
y = df['target']

# Splitting the data into training and testing data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_std, df['target'], test_size=0.1, random_state=42)

#df.drop('target', axis=1)

# Define function

Initialize parameters

In [ ]:
import numpy as np

def initialize(X):
    weights = np.zeros((X.shape[1] + 1, 1))
    X = np.c_[np.ones((X.shape[0], 1)), X]
    return weights, X

In [ ]:
def sigmoid(self, z):
  sig = 1/ (1+np.exp(-z))
  return sig

In [ ]:
def cost(theta, X, y):
    Z = np.dot(X, theta)
    cost0 = np.dot(y, np.log(sigmoid(Z)))
    cost1 = np.dot((1-y), np.log(1-sigmoid(Z)))
    cost = -((cost1 + cost0) / len(y))
    return cost

In [ ]:
def fit(self, X, y, alpha=0.001, iterations=100):
  parameters, X = self.initialize(X)
  cost_list = np.zeros(iterations)
  for i in range(iterations):
      Z = np.dot(X, parameters)
      y_pred = self.sigmoid(Z)
      grad = np.dot(X.T, (y_pred - y)) / len(y)
      parameters = parameters - alpha * grad
      cost_list[i] = self.cost(parameters, X, y)
  self.parameters = parameters
  return cost_list

In [ ]:
def predict(self, X):
  z = np.dot(self.initialize(X)[1], self.weight)
  lis = []
  for i in self.sigmoid(z):
    if i> 0.5:
      lis.append(1)
    else:
      lis.append(0)
  return lis

In [ ]:
import numpy as np

class LogisticRegressionModel:
    def __init__(self):
        pass
    
    def initialize(self, X):
        weights = np.zeros((X.shape[1] + 1, 1))
        X = np.c_[np.ones((X.shape[0], 1)), X]
        return weights, X

    def sigmoid(self, z):
        sig = 1/ (1+np.exp(-z))
        return sig

    def cost(self, theta, X, y):
        Z = np.dot(X, theta)
        cost0 = np.dot(y, np.log(self.sigmoid(Z)))
        cost1 = np.dot((1-y), np.log(1-self.sigmoid(Z)))
        cost = -((cost1 + cost0) / len(y))
        return cost

    def fit(self, X, y, alpha=0.001, iterations=100):
      parameters, X = self.initialize(X)
      cost_list = np.zeros(iterations)
      for i in range(iterations):
          Z = np.dot(X, parameters)
          y_pred = self.sigmoid(Z)
          grad = np.dot(X.T, (y_pred - y)) / len(y)
          parameters = parameters - alpha * grad
          cost_list[i] = self.cost(parameters, X, y)
      self.parameters = parameters
      return cost_list.flatten() # Flatten the cost_list array


    def predict(self, X):
        z = np.dot(self.initialize(X)[1], self.parameters)
        lis = []
        for i in self.sigmoid(z):
            if i> 0.5:
                lis.append(1)
            else:
                lis.append(0)
        return lis

In [ ]:
import numpy as np

class LogisticRegressionModel:
    def __init__(self):
        pass
    
    def initialize(self, X):
        weights = np.zeros((X.shape[1] + 1, 1))
        X = np.c_[np.ones((X.shape[0], 1)), X]
        return weights, X

    def sigmoid(self, z):
        sig = 1/ (1+np.exp(-z))
        return sig

    def cost(self, theta, X, y):
        Z = np.dot(X, theta)
        cost0 = np.dot(y, np.log(self.sigmoid(Z)))
        cost1 = np.dot((1-y), np.log(1-self.sigmoid(Z)))
        cost = -((cost1 + cost0) / len(y))
        return cost

    def fit(self, X, y, alpha=0.001, iterations=100):
      parameters, X = self.initialize(X)
      cost_history = []
      for i in range(iterations):
          Z = np.dot(X, parameters)
          y_pred = self.sigmoid(Z)
          grad = np.dot(X.T, (y_pred - y)) / len(y)
          parameters = parameters - alpha * grad
          cost = self.cost(parameters, X, y)
          cost_history.append(cost)
      self.parameters = parameters
      return np.array(cost_history)


    def predict(self, X):
        z = np.dot(self.initialize(X)[1], self.parameters)
        lis = []
        for i in self.sigmoid(z):
            if i> 0.5:
                lis.append(1)
            else:
                lis.append(0)
        return lis

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.svm import SVC

# Fit a model

In [ ]:
svc = SVC()
svc.fit(X_train, y_train)

SVC()

In [ ]:
y_pred = svc.predict(X_test) 
score = accuracy_score(y_test, y_pred) 
print(score)

0.87

In [ ]:
from sklearn.metrics import f1_score

# y_true are the true labels and y_pred are the predicted labels
f1 = f1_score(y_test, y_pred)

print("F1 score:", f1)

F1 score: 0.8505747126436782

# Dataset 3

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

**Load the data**

In [ ]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

**Preprocessing**

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [ ]:
train_data.isna().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [ ]:
test_data.isna().sum()

Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [ ]:
train_data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [ ]:
test_data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [ ]:
mean_value = train_data['Arrival Delay in Minutes'].mean()

# fill the null values with the mean value
train_data['Arrival Delay in Minutes'] = train_data['Arrival Delay in Minutes'].fillna(mean_value)

In [ ]:
mean_value = test_data['Arrival Delay in Minutes'].mean()

# fill the null values with the mean value
test_data['Arrival Delay in Minutes'] = test_data['Arrival Delay in Minutes'].fillna(mean_value)

In [ ]:
train_data.isna().sum()

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [ ]:
test_data.isna().sum()

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [ ]:
train_data.drop(train_data.columns[0], axis=1, inplace = True)

test_data.drop(test_data.columns[0], axis=1, inplace = True)

In [ ]:
train_data['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [ ]:
test_data['satisfaction'].unique()

array(['satisfied', 'neutral or dissatisfied'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

train_data['satisfaction'] = label_encoder.fit_transform(train_data['satisfaction'])

In [ ]:
label_encoder = LabelEncoder()

test_data['satisfaction'] = label_encoder.fit_transform(test_data['satisfaction'])

In [ ]:
train_data.drop(['id'], axis=1, inplace = True)

test_data.drop(['id'], axis=1, inplace = True)

In [ ]:
# list of columns to encode
columns_to_encode = ['Gender', 'Customer Type', 'Type of Travel', 'Class']

# create a label encoder object
label_encoder = LabelEncoder()

# encode each column for training data
for column in columns_to_encode:
    train_data[column] = label_encoder.fit_transform(train_data[column])

#encode each column for testing data
for column in columns_to_encode:
    test_data[column] = label_encoder.fit_transform(test_data[column])

In [ ]:
train_data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,0,13,1,2,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,0
1,1,1,25,0,0,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,0
2,0,0,26,0,0,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,0,0,25,0,0,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,1,0,61,0,0,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [ ]:
test_data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,0,52,0,1,160,5,4,3,4,...,5,5,5,5,2,5,5,50,44.0,1
1,0,0,36,0,0,2863,1,1,3,1,...,4,4,4,4,3,4,5,0,0.0,1
2,1,1,20,0,1,192,2,0,2,4,...,2,4,1,3,2,2,2,0,0.0,0
3,1,0,44,0,0,3377,0,0,0,2,...,1,1,1,1,3,1,4,0,6.0,1
4,0,0,49,0,1,1182,2,3,4,3,...,2,2,2,2,4,2,4,0,20.0,1

**Split into training and testing data**

In [ ]:
# split into features and target
X_train = train_data.drop('satisfaction', axis=1)
y_train = train_data['satisfaction']
X_test = test_data.drop('satisfaction', axis=1)
y_test = test_data['satisfaction']

In [ ]:
# standardize

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

**Fit a logistic regression**

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [ ]:
y_pred = logreg.predict(X_test)

**Calculate accuracy**

In [ ]:
# calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# print classification report
print(classification_report(y_test, y_pred))

Accuracy: 0.8709963042808746
              precision    recall  f1-score   support

           0       0.87      0.90      0.89     14573
           1       0.87      0.83      0.85     11403

    accuracy                           0.87     25976
   macro avg       0.87      0.87      0.87     25976
weighted avg       0.87      0.87      0.87     25976

# Regularization

In [ ]:
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
import numpy as np

# Create a logistic regression model with L2 regularization
model = LogisticRegression(penalty='l2', C=1.0)

# Fit the model on the training data
model.fit(X_train, y_train)

# Evaluate the model on the testing data
accuracy = model.score(X_test, y_test)
print("Accuracy without regularization:", accuracy)

# Vary the regularization strength parameter C
C_values = [0.001, 0.01, 0.1, 1, 10, 100, 1000]
for C in C_values:
    # Create a logistic regression model with L2 regularization and the specified C value
    model = LogisticRegression(penalty='l2', C=C)

    # Fit the model on the training data
    model.fit(X_train, y_train)

    # Evaluate the model on the testing data
    accuracy = model.score(X_test, y_test)
    print("Accuracy with C={}:".format(C), accuracy)

Accuracy without regularization: 0.8709963042808746
Accuracy with C=0.001: 0.8705728364644287
Accuracy with C=0.01: 0.871034801355097
Accuracy with C=0.1: 0.8709963042808746
Accuracy with C=1: 0.8709963042808746
Accuracy with C=10: 0.8709578072066523
Accuracy with C=100: 0.8709578072066523
Accuracy with C=1000: 0.8709578072066523

In [ ]:
logreg_l1 = LogisticRegression(penalty='l1', C=0.1, solver='liblinear')
logreg_l1.fit(X_train, y_train)

LogisticRegression(C=0.1, penalty='l1', solver='liblinear')

In [ ]:
logreg_l2 = LogisticRegression(penalty='l2', C=0.1)
logreg_l2.fit(X_train, y_train)

LogisticRegression(C=0.1)

In [ ]:
accuracy_l1 = logreg_l1.score(X_test, y_test)
print("Accuracy with L1 regularization:", accuracy_l1)

Accuracy with L1 regularization: 0.8708423159839852

In [ ]:
accuracy_l2 = logreg_l2.score(X_test, y_test)
print("Accuracy with L2 regularization:", accuracy_l2)

Accuracy with L2 regularization: 0.8709963042808746