<a href="https://colab.research.google.com/github/dwishashah/Machine-Learning/blob/main/ML_Exp4_NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/Social-Network-Ads.csv')

In [ ]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
data.Gender = lb.fit_transform(data.Gender)
data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0
5  15728773       1   27            58000          0
6  15598044       0   27            84000          0
7  15694829       0   32           150000          1
8  15600575       1   25            33000          0
9  15727311       0   35            65000          0

In [ ]:
data.drop('User ID',inplace = True, axis=1)
data

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform(data)

array([[ 1.02020406, -1.78179743, -1.49004624, -0.74593581],
       [ 1.02020406, -0.25358736, -1.46068138, -0.74593581],
       [-0.98019606, -1.11320552, -0.78528968, -0.74593581],
       ...,
       [-0.98019606,  1.17910958, -1.46068138,  1.34059793],
       [ 1.02020406, -0.15807423, -1.07893824, -0.74593581],
       [-0.98019606,  1.08359645, -0.99084367,  1.34059793]])

In [ ]:
x = data[['Gender','Age','EstimatedSalary']]
y = data[['Purchased']]

In [ ]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8,random_state=2)

In [ ]:
from sklearn.naive_bayes import GaussianNB
bayes = GaussianNB()
bayes.fit(x_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
y_test_pred=bayes.predict(x_test)
print(y_test_pred)

[0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1
 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 1 1 0 0 1 0 0 0 1 0 1 0 0
 1 0 1 0 1 0 0 0 0 1 0 0 1 0 1 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1
 1 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0
 0 0 1 0 1 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1
 1 0 1 1 1 0 1 0 0 1 0 0 0 1 0 0 1 0 0 1 0 1 1 0 1 0 1 0 0 0 1 0 0 0 0 1 0
 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 1 1 0 0 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 1
 1 0 0 0 0 1 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 0 1 0]

In [ ]:
y_train_pred=bayes.predict(x_train)
print(y_train_pred)

[1 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 1 1 0
 0 1 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1
 0 1 0 0 0 1]

In [ ]:
result=pd.DataFrame()
result["actual_y"]=y_test
result['predicted_y']=y_test_pred
print(result.sample(5))

     actual_y  predicted_y
194         0            0
87          0            0
257         0            0
9           0            0
336         1            1

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("Accuracy score: ",accuracy_score(y_test,y_test_pred))
print("Accuracy score of train: ",accuracy_score(y_train,y_train_pred))
#cm=pd.DataFrame(confusion_matrix(y_test,y_test_pred),columns=list(range(0,3)))
#print(cm)

Accuracy score:  0.878125
Accuracy score of train:  0.9