<a href="https://colab.research.google.com/github/dwishashah/Machine-Learning/blob/main/ML_Exp6_RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/2011.csv')

In [ ]:
df.head(10)

,_STATE,_GEOSTR,_DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,IDAY,...,DRNKANY5,DROCDY3_,_RFBING5,_DRNKDY4,_DRNKMO4,_RFDRHV4,_RFDRMN4,_RFDRWM4,_AIDTST3,HAVHPAD
0,1.0,1.0,1.0,1.0,10001.0,27.0,1.0,b'01202011',b'01',b'20',...,1.0,4.300000e+01,1.0,8.600000e+01,2.600000e+01,1.0,NaN,1.0,2.0,NaN
1,1.0,1.0,1.0,1.0,10008.0,13.0,1.0,b'01142011',b'01',b'14',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,9.0,NaN,NaN,NaN
2,1.0,5.0,1.0,1.0,10058.0,4.0,1.0,b'01062011',b'01',b'06',...,1.0,1.400000e+01,1.0,1.400000e+01,4.000000e+00,1.0,NaN,1.0,2.0,NaN
3,1.0,7.0,1.0,1.0,10079.0,7.0,1.0,b'02012011',b'02',b'01',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,NaN,9.0,NaN,NaN
4,1.0,7.0,1.0,1.0,10081.0,28.0,1.0,b'02012011',b'02',b'01',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,NaN,1.0,1.0,NaN
5,1.0,7.0,1.0,1.0,10082.0,3.0,1.0,b'01062011',b'01',b'06',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,1.0,NaN,1.0,NaN
6,1.0,7.0,1.0,1.0,10087.0,24.0,1.0,b'02012011',b'02',b'01',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,NaN,9.0,NaN,NaN
7,1.0,10.0,2.0,1.0,10126.0,12.0,1.0,b'01062011',b'01',b'06',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,1.0,NaN,1.0,NaN
8,1.0,11.0,1.0,1.0,10137.0,4.0,1.0,b'01062011',b'01',b'06',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,9.0,NaN,NaN,NaN
9,1.0,14.0,1.0,1.0,10167.0,15.0,1.0,b'02012011',b'02',b'01',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,NaN,9.0,NaN,NaN

In [ ]:
df.shape

(711, 454)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Columns: 454 entries, _STATE to HAVHPAD
dtypes: float64(444), object(10)
memory usage: 2.5+ MB

In [ ]:
df.columns

Index(['_STATE', '_GEOSTR', '_DENSTR2', 'PRECALL', 'REPNUM', 'REPDEPTH',
       'FMONTH', 'IDATE', 'IMONTH', 'IDAY',
       ...
       'DRNKANY5', 'DROCDY3_', '_RFBING5', '_DRNKDY4', '_DRNKMO4', '_RFDRHV4',
       '_RFDRMN4', '_RFDRWM4', '_AIDTST3', 'HAVHPAD'],
      dtype='object', length=454)

In [ ]:
df.isnull().sum()

_STATE        0
_GEOSTR       0
_DENSTR2      0
PRECALL       0
REPNUM        0
           ...
_RFDRHV4      1
_RFDRMN4    461
_RFDRWM4    251
_AIDTST3     49
HAVHPAD     711
Length: 454, dtype: int64

In [ ]:
df['HIVRISK3'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 711 entries, 0 to 710
Series name: HIVRISK3
Non-Null Count  Dtype
--------------  -----
661 non-null    float64
dtypes: float64(1)
memory usage: 5.7 KB

In [ ]:
df = df[df['HIVRISK3'].notna()]

In [ ]:
#Drop columns with 1 value
df.nunique()==1
uni = pd.DataFrame(df.nunique())
list1 = []
j = 0
for i in uni[0]:
  if(i==1):
    list1.append(j)
  j=j+1
print(list1)
df.drop(df.columns[list1], axis = 1, inplace=True)

[0, 10, 18, 19, 20, 303, 306, 312, 316, 317, 319, 321, 322, 325, 407, 408]

<ipython-input-26-2dca2c0fa88c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[list1], axis = 1, inplace=True)

In [ ]:
#Drop columns with 50% null values
nullRatio = pd.DataFrame(df.isnull().sum()/len(df))
list1=[]
j=0
for i in nullRatio[0]:
  if(i>=0.5):
    list1.append(j)
  j=j+1
print(list1)
df.drop(df.columns[list1], axis = 1, inplace=True)

[28, 36, 47, 48, 53, 64, 66, 71, 83, 84, 88, 89, 90, 91, 94, 95, 98, 99, 100, 102, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 403, 405, 426, 427, 434, 437]

<ipython-input-28-b34c5a48555c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[list1], axis = 1, inplace=True)

In [ ]:
list2=[]
for i in range(len(df.columns)):
  try:
    df.iloc[:,i] = pd.to_numeric(df.iloc[:,i])
  except ValueError:
    list2.append(i)
print(list2)

[6, 7, 8, 9, 48, 122]

In [ ]:
df.iloc[:,[6, 7, 8, 9, 48, 122]]

           IDATE IMONTH   IDAY    INTVID  MRACE MRACEORG
0    b'01202011'  b'01'  b'20'  b'00118'  b'18'     b'1'
2    b'01062011'  b'01'  b'06'  b'00140'  b'18'     b'1'
4    b'02012011'  b'02'  b'01'  b'00118'  b'28'     b'2'
5    b'01062011'  b'01'  b'06'  b'00143'  b'28'     b'2'
7    b'01062011'  b'01'  b'06'  b'00102'  b'18'     b'1'
..           ...    ...    ...       ...    ...      ...
705  b'01252011'  b'01'  b'25'  b'00109'  b'18'     b'1'
706  b'02092011'  b'02'  b'09'  b'00101'  b'28'     b'2'
707  b'02022011'  b'02'  b'02'  b'00136'  b'18'     b'1'
708  b'02102011'  b'02'  b'10'  b'00194'  b'18'     b'1'
709  b'02032011'  b'02'  b'03'  b'00102'  b'18'     b'1'

[661 rows x 6 columns]

In [ ]:
df.drop(df.columns[list2], axis=1, inplace=True)

In [ ]:
for i in range(len(df.columns)):
  df.iloc[:,i].fillna((df.iloc[:,i]).mean(), inplace=True)

In [ ]:
X = df.drop('HIVRISK3',axis=1).values
y = df['HIVRISK3'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
y_train = lb.fit_transform(y_train)
y_test = lb.transform(y_test)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X_train = ct.fit_transform(X_train)
X_test = ct.transform(X_test)

**Decision Tree Classifier**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.99      0.97      0.98       163
           2       0.00      0.00      0.00         1
           3       1.00      1.00      1.00         1

    accuracy                           0.96       166
   macro avg       0.50      0.49      0.49       166
weighted avg       0.98      0.96      0.97       166

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#Test accuracy
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_pred,y_test))

Accuracy: 0.9578313253012049

In [ ]:
#Train accuracy
y_pred2 = classifier.predict(X_train)
print("Accuracy:",accuracy_score(y_pred2,y_train))

Accuracy: 1.0

**Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifierR=RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
classifierR.fit(X_train,y_train)
y_pred = classifierR.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.96      0.98       166
           3       0.00      0.00      0.00         0

    accuracy                           0.96       166
   macro avg       0.33      0.32      0.33       166
weighted avg       1.00      0.96      0.98       166

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_pred,y_test))

Accuracy: 0.963855421686747

**Random Forest Feature Importance**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifierR=RandomForestClassifier(n_estimators=100)
classifierR.fit(X_train,y_train)
y_pred = classifierR.predict(X_test)

In [ ]:
a=classifierR.feature_importances_

In [ ]:
df2=df.drop(['HIVRISK3'], axis=1)

In [ ]:
a2 = df2.columns

In [ ]:
impFeatures = pd.Series(classifierR.feature_importances_, index=a2).sort_values(ascending=False)

**Random Forest Variable Importance**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier2=RandomForestClassifier(bootstrap=True,class_weight=None,criterion='gini',max_depth=None,max_features='auto',min_impurity_decrease=0.0,
                                   min_samples_leaf=1,min_samples_split=2,min_weight_fraction_leaf=0.0,n_estimators=100,n_jobs=1,
                                   oob_score=False, random_state=None, verbose=0, warm_start=False)
classifier2.fit(X_train,y_train)
y_pred = classifier2.predict(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))
print("Accuracy:",accuracy_score(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.96      0.98       166
           3       0.00      0.00      0.00         0

    accuracy                           0.96       166
   macro avg       0.33      0.32      0.33       166
weighted avg       1.00      0.96      0.98       166

Accuracy: 0.963855421686747

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
y_pred2 = classifier2.predict(X_train)
print(classification_report(y_pred2,y_train))
print("Accuracy:",accuracy_score(y_pred2,y_train))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00       478
           2       1.00      1.00      1.00         2
           3       1.00      1.00      1.00         4

    accuracy                           1.00       495
   macro avg       1.00      1.00      1.00       495
weighted avg       1.00      1.00      1.00       495

Accuracy: 1.0

**Decision Tree Variable Importance**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier2=DecisionTreeClassifier()
classifier2.fit(X_train,y_train)
y_pred = classifier2.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         4
           1       0.97      0.97      0.97       160
           2       0.00      0.00      0.00         1
           3       1.00      1.00      1.00         1

    accuracy                           0.94       166
   macro avg       0.49      0.49      0.49       166
weighted avg       0.94      0.94      0.94       166

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_pred,y_test))

Accuracy: 0.9397590361445783

In [ ]:
y_pred2 = classifier2.predict(X_train)
print("Accuracy:",accuracy_score(y_pred2,y_train))

Accuracy: 1.0