<a href="https://colab.research.google.com/github/dwishashah/Machine-Learning/blob/main/ML_Exp2_ID3_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ID3 Algorithm

ALGORITHM


1.   Find the entropy for data-set
2.   For every attribute/feature:

      a.calculate entropy for all categorical values 

      b.take avg information entropy for current attribute

      c.calculate gain for the current attribute
3.   Pick the highest gain attribute.
4.   Repeat until we get the decision tree.

In [ ]:
import pandas as pd
import numpy as np
import math

data = pd.read_csv('/content/play_tennis.csv')

In [ ]:
data.head(14)

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

Entropy

In [ ]:
def findentropy(data):
   
    entropy = 0
    for i in range(data.nunique()):
        x = data.value_counts()[i]/data.shape[0] 
        print(x)
        entropy += (- x * math.log(x,2))
    return round(entropy,4)

In [ ]:
findentropy(data.play)

0.6428571428571429
0.35714285714285715

0.9403

Information Gain

In [ ]:
def information_gain(data, data_):
   
    info = 0
    for i in range(data_.nunique()):
        df = data[data_ == data_.unique()[i]]
        w_avg = df.shape[0]/data.shape[0]
        entropy = findentropy(df.play)
        x = w_avg * entropy
        info += x
    ig = findentropy(data.play) - info
    return round(ig, 3)

In [ ]:
findentropy(data.play)

0.6428571428571429
0.35714285714285715

0.9403

In [ ]:
information_gain(data,data.temp)

0.5
0.5
0.6666666666666666
0.3333333333333333
0.75
0.25
0.6428571428571429
0.35714285714285715

0.029

In [ ]:
information_gain(data,data.outlook)

0.6
0.4
1.0
0.6
0.4
0.6428571428571429
0.35714285714285715

0.247

In [ ]:
information_gain(data,data.humidity)

0.5714285714285714
0.42857142857142855
0.8571428571428571
0.14285714285714285
0.6428571428571429
0.35714285714285715

0.152

In [ ]:
information_gain(data,data.wind)

0.75
0.25
0.5
0.5
0.6428571428571429
0.35714285714285715

0.048

In [ ]:
def maxIG(data,data_):
    Entropy_att = []
    IG = []
    for key in data.keys()[:-1]:

        IG.append(information_gain(data,data_))
    return data.keys()[:-1][np.argmax(IG)]

In [ ]:
def att_table(data, node,value):
  return data[data[node] == value].reset_index(drop=True)

In [ ]:
from pandas.core.frame import dataclasses_to_dicts
def buildTree(data,data_,tree=None): 
    Class = data.keys()[-1]   
    node = maxIG(data,data_)
    
    
    attValue = np.unique(data[node])
    
     
    if tree is None:                    
        tree={}
        tree[node] = {}
    
    for value in attValue:
        
        subtable = att_table(data,data_,node,value)
        clValue,counts = np.unique(subtable['Eat'],return_counts=True)                        
        
        if len(counts)==1:
            tree[node][value] = clValue[0]                                                    
        else:        
            tree[node][value] = buildTree(subtable) 
                   
    return tree

In [ ]:
t = buildTree(data,data_)
import pprint
pprint.pprint(t)

NameError: ignored